:root {
  --cor-branca: #fff;
  --cor-cinza-claro: #e0e0e0;
  --cor-cinza-medio: #bdbdbd;
  --cor-cinza: #9e9e9e;
  --cor-preto-claro: #212121;
  --cor-preto: #000;
  --fonte-principal: "Inter", serif;
  --fonte-secundaria: "Open Sans", serif;
  --tamanho-logo: clamp(1.5rem, 5vw, 2.5rem);
  --tamanho-h1: clamp(1.5625rem, 4vw, 1.875rem);
  --tamanho-h2: clamp(2rem, 4vw, 3rem);
  --tamanho-subtitulo: clamp(.75rem, 1.2vw, 1rem);
  --tamanho-texto: clamp(1rem, 2.5vw, 1.2rem);
}

.banner-perfumes {
  text-align: center;
  background: url("https://res.cloudinary.com/dcu7xtkcw/image/upload/v1737429791/laura-chouette-jmACQEf7T2A-unsplash_nt3brf.jpg") center / cover no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 25rem;
  padding: 2.5rem 1.25rem;
  display: flex;
  position: relative;
}

.banner-content {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.text-container {
  color: var(--cor-preto);
  border-radius: .5rem;
  padding: 1.875rem;
}

.text-container h1 {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 400;
}

.text-container p {
  margin: 0;
  font-size: 2.5rem;
}

.text-container .btn {
  margin-top: 1rem;
  font-weight: 200;
}

.container-produtos {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.carousel {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 34.375rem;
  margin: 0 auto;
  display: flex;
}

.carousel-item {
  height: 21.875rem;
  width: 15rem !important;
}

.card-content {
  text-transform: uppercase;
  text-align: center;
}

.card-content span, .card-content .valor {
  margin-bottom: 1rem;
  font-weight: 700;
}

.card-image {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11.25rem;
  display: flex;
  overflow: hidden;
}

.carousel-controls {
  justify-content: space-between;
  width: 60%;
  margin-top: 10rem;
  display: flex;
  position: absolute;
  transform: translateY(-50%);
}

.carousel-controls i {
  color: var(--cor-preto-claro);
  cursor: pointer;
  border-radius: 50%;
  padding: .625rem;
  font-size: 2.25rem;
}

.prev {
  left: .3125rem;
}

.next {
  right: .3125rem;
}

section, .carousel {
  border: none !important;
  outline: none !important;
}

@media (width >= 20rem) and (width <= 42.8125rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }

  .carousel-controls {
    width: 100%;
    margin-top: 10rem;
    position: absolute;
    transform: translateY(-50%);
  }
}

@media (width >= 48rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }

  .carousel-controls {
    width: 90%;
    margin-top: 10rem;
    position: absolute;
    transform: translateY(-50%);
  }
}

@media (width >= 90rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }

  .carousel-controls {
    width: 55%;
    margin-top: 10rem;
    position: absolute;
    transform: translateY(-50%);
  }
}

.section-content {
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0;
  display: flex;
}

.card-image img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.section-content .text {
  text-align: center;
  max-width: 50%;
  margin-right: 10rem;
}

.text strong {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--tamanho-h2);
  justify-content: center;
  justify-items: flex-start;
  display: flex;
}

.link-comprar {
  color: var(--cor-preto);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-decoration: underline;
  display: flex;
}

.text p {
  text-transform: uppercase;
  font-size: var(--tamanho-subtitulo);
}

.section-content {
  max-width: 100%;
  margin: 0;
}

.imagem {
  width: 12.5rem;
  height: 25rem;
}

.custom-img {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  width: 18.75rem !important;
  height: 25rem !important;
}

@media (width >= 20rem) and (width <= 37.5rem) {
  .section-content {
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  .section-content .text {
    max-width: 100%;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
  }
}

@media (width <= 48rem) {
  .section-content {
    text-align: center;
  }

  .section-content .text {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }
}

.banner-final {
  background-image: url("https://res.cloudinary.com/dcu7xtkcw/image/upload/v1738597957/img-beauty/banner_final_perfume.jpg");
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 26rem;
  display: flex;
  overflow: hidden;
}

.banner-final .banner-content {
  text-align: center;
  color: #fff;
  margin-right: .625rem;
}

.banner-final .banner-text {
  font-size: var(--tamanho-h2);
  text-transform: uppercase;
  text-shadow: .125rem .125rem .25rem #000000b3;
  margin: 0;
  font-weight: bold;
}

.text-container {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/*# sourceMappingURL=perfumes.e62e7427.css.map */
