:root {
  /* Variáveis de cores */
  --cor-branca: #ffffff;
  --cor-cinza-claro: #e0e0e0;
  --cor-cinza-medio: #bdbdbd;
  --cor-cinza: #9e9e9e;
  --cor-preto-claro: #212121;
  --cor-preto: #000000;

  /* Variáveis de fontes */
  --fonte-principal: "Inter", serif;
  --fonte-secundaria: "Open Sans", serif;

  /* Tamanhos de fontes */
  --tamanho-logo: clamp(1.5rem, 5vw, 2.5rem);
  --tamanho-h1: clamp(1.5625rem, 4vw, 1.875rem);
  --tamanho-h2: clamp(2rem, 4vw, 3rem);
  --tamanho-subtitulo: clamp(0.75rem, 1.2vw, 1rem);
  --tamanho-texto: clamp(1rem, 2.5vw, 1.2rem);
}
.banner-perfumes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  background: url("https://res.cloudinary.com/dcu7xtkcw/image/upload/v1737429791/laura-chouette-jmACQEf7T2A-unsplash_nt3brf.jpg")
    no-repeat center center/cover;
  padding: 2.5rem 1.25rem;
  position: relative;
  height: 25rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.text-container {
  color: var(--cor-preto);
  border-radius: 0.5rem;
  padding: 1.875rem;
}

.text-container h1 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.text-container p {
  font-size: 2.5rem;
  margin: 0;
}

.text-container .btn {
  margin-top: 1rem;
  font-weight: 200;
}

.container-produtos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o carrossel verticalmente (caso necessário) */
}

.carousel {
  width: 80%;
  height: 34.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centraliza o carrossel dentro do container */
}

.carousel-item {
  width: 15rem !important;
  height: 21.875rem;
}
.card-content {
  text-transform: uppercase;
  text-align: center;
}

.card-content span {
  font-weight: 700;
  margin-bottom: 1rem;
}
.card-content .valor {
  font-weight: 700;
  margin-bottom: 1rem;
}
.card-image {
  width: 100%;
  height: 11.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Estilo para os ícones de navegação */
.carousel-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  width: 60%;
  transform: translateY(-50%);
}

.carousel-controls i {
  font-size: 2.25rem;
  color: var(--cor-preto-claro);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.625rem;
}

.prev {
  left: 0.3125rem;
}
.next {
  right: 0.3125rem;
}
/* Remove a linha vermelha (outline) do section e de outros elementos focados */
section,
.carousel {
  outline: none !important;
  border: none !important;
}

/* Ajuste para telas pequenas (celulares) */
@media (min-width: 20rem) and (max-width: 42.8125rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }
  .carousel-controls {
    position: absolute;

    margin-top: 10rem;
    width: 100%;
    transform: translateY(-50%);
  }
}
@media (min-width: 48rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }
  .carousel-controls {
    position: absolute;

    margin-top: 10rem;
    width: 90%;
    transform: translateY(-50%);
  }
}
@media (min-width: 90rem) {
  .carousel .card {
    width: 100%;
    height: 180%;
  }
  .carousel-controls {
    position: absolute;

    margin-top: 10rem;
    width: 55%;
    transform: translateY(-50%);
  }
}
/* imagem*/
.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0;
}
.card-image img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.section-content .text {
  max-width: 50%;
  margin-right: 10rem;
  text-align: center;
}

.text strong {
  display: flex;
  justify-content: center;
  justify-items: flex-start;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--tamanho-h2);
}
.link-comprar {
  color: var(--cor-preto);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.text p {
  text-transform: uppercase;
  font-size: var(--tamanho-subtitulo);
}

.section-content {
  max-width: 100%;
  margin: 0;
}
.imagem {
  width: 12.5rem;
  height: 25rem;
}
.custom-img {
  width: 18.75rem !important;
  height: 25rem !important;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
/* Responsividade */
@media (min-width: 20rem) and (max-width: 37.5rem) {
  .section-content {
    flex-direction: column; /* Empilha os itens verticalmente em telas menores */
    text-align: center;
    margin-top: 2rem;
  }

  .section-content .text {
    max-width: 100%;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 48rem) {
  .section-content {
    text-align: center;
  }

  .section-content .text {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }
}
.banner-final {
  width: 100%;
  height: 26rem;
  background-image: url("https://res.cloudinary.com/dcu7xtkcw/image/upload/v1738597957/img-beauty/banner_final_perfume.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.banner-final .banner-content {
  margin-right: 0.625rem;
  text-align: center;
  color: white; /* Texto em branco para contraste */
}

.banner-final .banner-text {
  font-size: var(--tamanho-h2);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7); /* Sombra para legibilidade */
  margin: 0;
}
.text-container {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
